body{
    background: #020202;
    display: flex;
    justify-content: center;
    align-items: center;
     
}
#container
{    position: relative;
    background:#fff;
    color: black;
    height: 400px;
    width: 500px;
    border-radius: 30px;
    top: 10rem;
    display: flex;
    justify-content: center;
    
}
#container #image
{  position: absolute;
    height: 100px;
    width: 100px;
    top: 20px;
    
}
